@page "/"

<PageTitle>Página inicial</PageTitle>

<h1>Bem vindo(a) ao Globo Clima!</h1>
<h2>Seu site de consulta de tempo</h2>

Bem vindo ao site do Globo Clima, onde você pode acompanhar as condições climáticas atuais e previsões para sua região. Utilize o menu acima para navegar pelas diferentes seções do site.